/* CAPTURE IT */
@font-face {
	font-family: 'Montserrat-Regular';
	src: url(../fonts/Montserrat-Regular.otf) format("truetype");
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

