html, body {
	min-height: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}
.left {
	float: left;
}
.right {
	float: right;
}
a {
	text-decoration: none;
	color: #fff;
}
a:active,
a.active,
a:hover {
	color: #d4af37;
}

/* TITLES */
.main-title, .main-title.landing-name {
	font-size: 80px;
	line-height: 84px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
  	text-shadow: 3px 3px 4px #000000;
	position: absolute;
	width: 60%;
	top: 50%;
	left: 50%;
	margin: -84px 0 0 -30%;
	font-weight: 500;
}
.main-title.landing-name {
	text-shadow: 4px 4px 5px #000000;
}
.main-title {
	top: 35%;
	font-size: 60px;
	line-height: 63px;
	color: #d4af37;
	text-transform: capitalize;
}
.title {
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	color: #d4af37;
	margin-bottom: 14px;
	text-transform: uppercase;
}
.subtitle {
	font-weight: 600;
	font-size: 44px;
	line-height: 47px;
	color: rgba(2. 25. 37. 0.7);
	/*text-transform: capitalize;*/
	margin-bottom: 40px;
	color: #505d68;
}
.subtitle.middle {
	font-size: 30px;
	line-height: 33px;
	color: #000;
	margin-bottom: 26px;
}

/* BUTTONS */
.button {
	background-color: #d8b74b;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #021725;
	padding: 24px 50px;
	border: 0;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	/* animation */
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
  	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
}
.button:hover, .button:focus, .button:active {
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
	border: 0;
	color: #000;
	font-weight: 400;
	outline: 0;
}
.button::-moz-focus-inner {
  border: 0;
}
.button:hover {
	background-color: #e1c773;
}
.button:active,
.button.active {
	background-color: #d4af37;
	border: none;
}
.button.inner {
	font-size: 16px;
	line-height: 19px;
	padding: 16px 56px;
	background-color: transparent;
	border: 1px solid #000;
}
.button.inner:hover {
	background-color: #eceeee;
}
.button.inner:focus {
	background-color: #e3e5e5;
}
.blog-button {
	margin-bottom: 30px;
}
/* social buttons */
.social-buttons {
	margin: 0 10% 70px 10%;
}
.social-buttons li {
	display: inline-block;
	vertical-align: top;
	margin-right: 15%;
	width: 23%;
}
.social-buttons li:last-child {
	margin-right: 0;
}
.social-buttons a {
	display: block;
	font-size: 15px;
	line-height: 18px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #c0c0c0;
	border: 1px solid #a1a1a1;
	padding: 18px;
}

/* HEADER */
.landing-header {
	min-height: 100%;
	height: 100%;
	width: 100%;
	background: url("../images/main-bg.jpg") left top no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
}
.landing-header .main-menu, .burger-button-wrapper, .small-button-wrapper {
	display: none;
}
/* LOGO & NAVIGATION */
.logo-nav-box {
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	left: 0;
	top: 0;
	color: #fff;
	text-decoration: none;
	position: fixed;
	z-index: 10;
}
.logo {
	display: inline-block;
	vertical-align: top;
	padding: 24px 4%;
	width: calc(17% - 4px);
	font-size: 18px;
	line-height: 21px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}
.logo a:before {
	content: "\f14a";
	font-family: "FontAwesome";
	font-size: 20px;
	padding-right: 10px;
}
nav {
	display: inline-block;
	vertical-align: top;
	padding: 24px 4%;
	width: calc(67% - 4px);
	text-align: right;
}
nav a {
	margin-left: 3%;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}
nav a:hover {
	color: #d4af37;
}
nav a:active {
	color: #fff;
}
.main-button-wrapper {
	display: inline-block;
}
.logo a:hover {
	color: #d4af37;
	text-shadow: 2px 0px 2px rgba(255, 215, 20, 1);
}

/* MAIN MENU */
.main-menu {
	display: inline-block;
	vertical-align: top;
	padding: 24px 4%;
	width: calc(67% - 4px);
	text-align: right;
}
.main-menu>li {
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.main-menu a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
.menu-link>span {
	text-transform: uppercase;
}
/* animated burger */
.menu-icon {
	display: inline-block;
	width: 20px;
	height: 12px;
	position: relative;
}
.menu-icon span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #fff;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: 0.25s ease-in-out;
}
.menu-icon span:nth-child(1) {
	top: 0px;
	transform-origin: left center; 
}
.menu-icon span:nth-child(2) {
	top: 5px;
	transform-origin: left center; 
}
.menu-icon span:nth-child(3) {
	top: 10px;
	transform-origin: left center; 
}
.menu-link.open .menu-icon span:nth-child(1) {
	transform: rotate(45deg);
	top: -2px;
	left: 3px;
}
.menu-link.open .menu-icon span:nth-child(2) {
	width: 0%;
	opacity: 0;
}
.menu-link.open .menu-icon span:nth-child(3) {
	transform: rotate(-45deg);
	top: 12px;
	left: 2px;
}
.main-menu li:hover {
	cursor: pointer;
}
/* dropdown menu */
.dropdown-menu {
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: calc(100% + 29px);
	right: 0;
	padding: 20px;
	text-align: center;
	min-width: 280px;	
}
.dropdown-menu>li {
	margin-bottom: 5%;
	position: relative;
}
.dropdown-menu a {
	margin: 0;
}
.dropdown-menu a.active:before {
	content: '';
	width: 40%;
	height: 1px;
	background-color: #fff;
	position: absolute;
	left: 30%;
	top:  50%;
	margin-top: -1px; 
}
.dropdown-menu a.active:hover {
	color: #fff;
}
/* social links */
.dropdown-menu-title {
	padding: 4% 0 5% 0;
	text-transform: uppercase;
	border-bottom: 1px solid #fff;
}
.social-list li {
	display: inline-block;
	margin: 4% 9%;
}
.linkedin:before {
	content: '\f08c';
	font-family: "FontAwesome";
	font-size: 22px;
	line-height: 23px;
}
.github:before {
	content: '\f092';
	font-family: "FontAwesome";
	font-size: 22px;
	line-height: 23px;
}
.fb:before {
	content: '\f082';
	font-family: "FontAwesome";
	font-size: 22px;
	line-height: 23px;
}

/* main menu hovers */
.main-menu a:hover {
	color: #d3b000; 
}
.main-menu a:active {
	color: #fff; 
}

/* SECTION STYLES */
section {
	padding: 80px 20%;
	text-align: center;
}
.section-descr,
.about-me {
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;
	color: #021725;
}
.section-descr {
	margin-bottom: 40px;
}


/* PORTFOLIO SECTION */
section.portfolio {
	padding: 80px 0;
}
.portfolio-gallery {
	margin-bottom: 40px;
}
.portfolio-gallery li {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	height: 300px;
	overflow: hidden;
	margin-bottom: 4px;
	text-align: center;
}
.portfolio-gallery li img {
	height: 100%;
}
.portfolio-gallery li.vertical-item img {
	width: 100%;
	height: auto;
}
.portfolio-gallery li a {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
}
.portfolio-gallery li a:before {
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	/* animation */
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.portfolio-gallery li a:hover:before {
    transform: scaleX(1);
}
.portfolio-gallery li a:after {
	content: 'Click';
	background-color: #d4af37;
	color: #fff;
	width: 150px;
	padding: 10px 0;
	position: absolute;
	bottom: 20px;
	right: 0;
	z-index: 20;
	/* animation */
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.portfolio-gallery li a:hover:after {
	transform: scaleX(1);
}

/* SKILLS SECTION */
.skills-list li {
	display: inline-block;
	vertical-align: top;
	width: calc(25% - 4px);
	height: 350px;
	overflow: hidden;
}
.skills-list li i {
	display: inline-block;
	vertical-align: top;
	font-size: 100px;
	color: #666;
	margin: 20px 0;
}
.skill-info {
	text-align: left;
	padding: 20px;
}
.skill-info .title {
	text-align: center;
	height: 22px;
	overflow: hidden;
	
}
.skill-info p:last-child {
	font-size: 13px;
	line-height: 23px;
	font-weight: 300;
	margin-bottom: 20px;
	height: 94px;
}

/* BLOG SECTION */
.last-post-box {
	background-color: #f9f9f9;
	margin-bottom: 84px;
}
.last-post-img {
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 4px);
	left: -2px;
	height: 100%;
	overflow: hidden;
}
.last-post-img-media {
	display: none;
}
.last-post-info {
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 84px);
	padding: 40px;
	text-align: left;
}
.last-post-info p,
.contacts-list li p {
	font-size: 16px;
	line-height: 19px;
	color: #505d68;
}
.last-post-info p:last-of-type {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	margin-bottom: 52px;
	height: 100px;
	overflow: hidden;
}
.last-post-info .button {
	margin-bottom: 20px;
}

/* CONTACTS SECTION*/
.contacts-list {
	background-color: #f9f9f9;
	font-size: 19px;
	line-height: 22px;
	color: #505d68;
	padding-bottom: 15px;
}
.contacts-list li {
	padding-top: 20px;
	display: inline-block;
	vertical-align: top;
	width: calc(25% - 36px);
	background-color: #f9f9f9;
	padding: 30px 16px; 
	color: rgba(2, 23, 37, 0.7);
}
.contacts-list a {
	text-decoration: none;
	color: #505d68;
}
.contacts-list li i {
	font-size: 50px;
	display: inline-block;
	margin: 26px 40px 40px 40px;
}
.skills-list li p {
	font-size: 13px;
	line-height: 32px;
}

/* FOOTER */
footer {
	background-color: #eee; 
	padding: 44px 10% 40px 10%;
	font-size: 18px;
	line-height: 21px;
	color: #828990;
}
.copy {
	text-align: left;
	display: inline-block;
	width: calc(50% - 10px);
}
.mail-me {
	text-align: right;
	display: inline-block;
	width: calc(50% - 10px);
}

/* BLOG PAGE */
header.inner-header {
	background: url(../images/digital.jpg) left top no-repeat;
	background-size: cover;
	height: 50%;
}
.inner-page {
	background-color: #f9f9f9;
	padding: 62px;
	margin: 80px 66px;
}
/* articles */
.articles-box {
	display: inline-block;
	vertical-align: top;
	width: calc(65% - 4px);
}
.articles-box article {
	background-color: #fff;
	padding: 32px;
	margin-bottom: 56px;
}
.articles-box.post article {
	background-color: transparent;
	padding: 0;
	margin: 0;
}
.post-img {
	overflow: hidden;
	margin-bottom: 30px;
}
.articles-box.post .post-img {
	height: 438px;
}
.post-img img {
	width: 100%;
	height: auto;
}

.post-descr {
	text-align: left;
	color: rgba(2, 27, 37, 0.7);
}
.post-descr .section-subtitle {
	color: #000;
}
.post-date {
	font-size: 15px;
	line-height: 18px;
	color: #d3b000;
	text-transform: capitalize;
	margin-bottom: 30px;
}
.post-text {
	font-family: serif;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 66px;
}
.articles-box.post .post-text {
	margin-bottom: 0;
	text-align: justify;
}
.hidden-post {
	display: none;
}
/* blog aside */
.blog-aside {
	display: inline-block;
	vertical-align: top;
	width: calc(35% - 60px);
	margin-left: 56px;
	text-align: left;
}
.blog-aside>div {
	margin-bottom: 58px;
}
.aside-title {
	font-size: 23px;
	line-height: 26px;
	font-weight: 300;
	color: rgba(2, 23, 37, 0.7);
	padding-bottom: 14px;
	border-bottom: 3px solid #d3b000;
	margin-bottom: 36px;
}
.posts-list li a,
.tags-list li a {
	display: inline-block;
	font-weight: 300;
	font-style: italic;
	color: #021725;
	text-decoration: none;
	margin-bottom: 14px;
}

/* PORTFOLIO PAGE */
.portfolio.portfolio-page {
	padding-bottom: 0;
}
.section-descr.portfolio-page {
	margin-bottom: 140px;
	padding: 0 20%;
}
.portfolio-gallery.portfolio-page {
	margin-bottom: 0;
}

/* POST PAGE */
.inner-page-post {
	background-color: #f9f9f9;
	margin: 84px 5% 69px 5%;
	padding: 67px 5.2% 69px 5.2%
}
.article-box {
	display: inline-block;
	vertical-align: top;
	width: calc(65% - 4px);
	background-color: #f9f9f9;
	text-align: justify;
	color: rgba(2, 27, 37, 0.7);
}
.full-post hr {
	color: rgba(226, 226, 226, 0.5);
	margin: 10px 0 24px 0;
}
.full-post .post-text {
	margin-bottom: 30px;
}
.post-inner-img {
	width: 250px;
	height: 250px;
	overflow: hidden;
	background: transparent;
}
.post-inner-img.left {
	margin: 36px 3% 36px 0;
}
.post-inner-img.right {
	margin: 36px 0 36px 3%;
}
.post-inner-img img {
	height: 100%;
}
.button.project.inner {
	margin-bottom: 30px;
}
iframe {
	margin-bottom: 30px;
}
.link-in-text:link {
	color: #d3b000;
}
.link-in-text:visited {
	color: #d3b000; 
}
.link-in-text:hover {
	color: #c0c0c0; 
}
.link-in-text:active {
	color: #d3b000;
}
strong {
	font-weight: bold;
}
i {
	font-style: italic;
}
.not-supported {
	color: #ff392f;
	opacity: 0.5;
}
.important {
	color: #ff392f;
}
audio {
	width: 100%;
	outline: none;
}
/* tags table */
h3 {
	color: #666;
	font-weight: 600;
	margin-bottom: 12px;
	text-align: center;
}
h4 {
	font-size: 15px;
	line-height: 18px;
	text-align: center;
}
.table-box {
	color: #9c9c9c;
	font-size: 18px;
	line-height: 23px;
	padding: 50px 35%;
	position: absolute;
	width: 140%;
	bottom: 0;
	right: -18px;
	display: none;
	background-color: #fff;
}
table {
	border: 1px solid #9c9c9c;
	width: 100%;
}
caption {
	text-align: center;
	color: #666;
	margin: 22px 0 8px 0;
	font-weight: 900;
	font-size: 25px;
}
thead td {
	color: #202020;
	padding: 5px 0 5px;
	font-weight: 900px;
}
tr {
	border: 1px solid #9c9c9c;
}
td {
	height: 24px;
	padding-top: 5px;
}
.first-column {
	width: 30%;
	padding-left: 10px;
}
.colored-tr {
	background-color: #DCDCDC;
} 
.wide-column {
	width: 70%;
}
.note-paragraph {
	padding-left: 20px;
	border-left: 3px solid #d4af37;
}
.html-in-sublime-picture, .html-in-chrome-picture {
	display: none;
	width: 100%;
	margin-bottom: 30px;
}
.html-in-sublime-picture-button, .html-in-chrome-picture-button {
	width: 150px;
}
h2 {
	color: #d3b000;
	margin-bottom: 10px;
	font-size: 28px;
}

/* Project Carousel */
.project-carousel {
	display: inline-block;
	width: 100%;
	background-color: #ffffff;
	overflow: hidden;
	vertical-align: center;
	margin: 0;
	padding: 35px;
	height: 400px;
	margin-bottom: 30px;
}
.project-carousel img {
	width: 100%;
}
.project-carousel .slick-prev {
	left: 1px;
	z-index: 10;
}
.project-carousel .slick-prev:before {
	content: '\f137';
	font-family: 'FontAwesome';
	font-size: 30px;
	color: #000;
}
.project-carousel .slick-next {
	right: 7px;
	z-index: 10;
}
.project-carousel .slick-next:before {
	content: '\f138';
	font-family: 'FontAwesome';
	font-size: 30px;
	color: #000;
}

/* CONTACTS PAGE */
/* form */
.form-set {
	display: inline-block;
	vertical-align: top;
	text-align: left;	
}
.contacts-title {
	display: block;
	font-size: 25px;
	line-height: 28px;
	margin: 28px 0;
}
.form-set form {
	display: inline-block;
	vertical-align: top;
	width: calc(60% - 10px);
	background: #f9f9f9;
}
.form-set form .button {
	background: #fff;
	margin: 0 30px 50px 30px;
	cursor: pointer;
	outline: none;
}
.form-set form .button:hover,
.form-set form .button:active {
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
	background-color: rgba(212,175,55,0.5);
	background-color: #d4af37;
}
.form-set fieldset {
	padding: 22px 30px 42px 30px;
	color: #212121;
}
.form-set fieldset:first-child {
	background: #d3b000;
	color: #fff;
}
.form-set input,
.form-set textarea {
	display: block;
	width: calc(100% - 20px);
	border: none;
	font-size: 16px;
	line-height: 22px;
	color: #212121;
	padding: 6px 10px;
	resize: none;
}
.msg-check-box {
	font-size: 12px;
	line-height: 15px;
	margin-top: 15px;
}
.msg-check-box label {
	cursor: pointer;
}
.msg-check-box input[type='checkbox'] {
	display: none;
}
.msg-check-box input[type='checkbox'] + label:before {
	content: '\f096';
	font-family: 'FontAwesome';
	padding-right: 10px;
}
.msg-check-box input[type='checkbox']:checked + label:before {
	content: '\f14a';
	padding-right: 9px;
}
/* contacts aside */
.contacts-aside {
	display: inline-block;
	vertical-align: top;
	width: calc(40% - 10px);
	background-color: #212121;
	position: relative;
	left: -5px;
}
.contacts-img {
	height: 300px;
	overflow: hidden;
}
.contacts-img img {
	height: 100%;
}
.contacts-info {
	padding: 22px 30px 42px 30px;
	height: 350px;
	color: #fff;
	font-size: 18px;
	line-height: 21px;
	position: relative;
}
.contacts-info p {
	margin-bottom: 16px;
}
.contacts-info div:first-child .contacts-title {
	margin-bottom: 30px;
}
.contacts-info div:last-child {
	position: absolute;
	left: 30px;
	bottom: 30px;
}
/* HAPPY END! */

/* GAME */
.game-wrapper {
	background-color: #fff;
	width: 100%;
	height: 250px;
}
.game {
	width: 600px;
	height: 200px;
	border-bottom: 3px solid rgb(150, 150, 150);
	margin: auto;
}
#car {
	width: 90px;
	height: 51px;
	background-image: url(../images/yellow-car.png);
	background-size: 90px 51px;
	position: relative;
	top: 149px;
}
#lights {
	width: 20px;
	height: 44px;
	background-image: url(../images/traffic-light.png);
	background-size: 20px 44px;
	position: relative;
	top: 105px;
	left: 580px;
	animation: lightsMov 2s infinite linear;
	animation-delay: 5s;
}
@keyframes lightsMov {
	0% {
		left: 580px;
	}
	100% {
		left: -20px;
	}
}
.jump {
	animation: jump 0.3s linear;
	transform: rotate(0deg);
}
@keyframes jump {
	0% {
		top: 149px;
		transform: rotate(0deg);
	}
	30% {
		top: 105px;
		transform: rotate(-45deg);
	}
	50% {
		top: 60px;
		transform: rotate(0deg);
	}
	80% {
		top: 105px;
		transform: rotate(45deg);
	}
	100% {
		top: 149px;
		transform: rotate(0deg);
	}
}
/*DARK MODE*/
body.dark {
	background-color: #000;
}
body.dark .inner-page-post {
	background-color: #0b0a08;
}
body.dark .inner-page {
	background-color: #0b0a08;
}
body.dark article {
	background-color: #0b0a08;
}
body.dark .about-me {
	background-color: #0b0a08;
	color: #e5e5e5;
}
body.dark footer, 
body.dark .last-post-box, 
body.dark .contacts-list, 
body.dark .contacts-list li {
	background-color: #0b0a08;
}
body.dark .post-text, 
body.dark .aside-title, 
body.dark .section-descr, 
body.dark .skill-info, 
body.dark .subtitle.middle, 
body.dark .subtitle, 
body.dark .posts-list li a
{
	color: #e5e5e5;
}
body.dark .contacts-list .fa {
	color: #666 ;
}
body.dark .contacts-list li p {
	color: #666 ;
}
body.dark .contacts-list li a {
	color: #666 ;
}
body.dark main {
	background-color: #000;
}
.button-wrapper {
	display: flex;	
  	justify-content: center;
}
/*DARK MODE BUTTON*/
#toggleThemeButton {
	width: 190px;
	font-weight: 300;
	font-size: 15px;
	line-height: 18px;
	text-transform: uppercase;
	color: #e5e5e5;
	padding: 10px;
	border: 1px solid #e5e5e5;
	background-color: transparent;
	text-decoration: none;
	outline: 0;
	display: inline-block;
	vertical-align: middle;
	/* animation */
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
  	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
}
#toggleThemeButton:hover {
	background-color: rgba(34,34,34,0.65);
	box-shadow: 2px 2px 2px #d7d8d8;
	color: #fff;
	border: 1px solid #fff;
	outline: 0;
	cursor: pointer;
}
#toggleThemeButton:active {
	background-color: rgba(77,77,77,0.6);
	color: #fff;
	outline: 0;
}
#toggleThemeButton:focus {
	outline: 0;
}
body.dark #toggleThemeButton {
	color: #021725;
	border: 1px solid rgba(249,249,249,0.66);
	background-color: rgba(249,249,249,0.66);
}
body.dark #toggleThemeButton:hover {
	background-color: rgba(236,238,238,0.75);
	box-shadow: 2px 2px 2px rgba(229,229,229,0.68);
	color: #000;
	outline: 0;
	cursor: pointer;
}
body.dark #toggleThemeButton:active {
	background-color: rgba(64,64,64,0.68);
	color: #fff;
	outline: 0;
}
body.dark #toggleThemeButton::-moz-focus-inner {
  border: 0;
}
body.dark .button {
	/* animation */
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(234,215,155, 0.8);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
  	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
}
body.dark .button.inner {
	border-color: #f5f5f5;
	color: #f5f5f5;
}
body.dark .button.inner:hover {
	background-color: #222;
	box-shadow: 2px 2px 2px #d7d8d8;
	color: #fff;
	border: 1px solid #fff;
	outline: 0;
}