:root {
    --red: #e97592;
    --blue: rgb(73,109,152);
    --black: #212129;
    --dark-blue: #4f70cd;
    --light-beige: #fffaea;
    --white: #fff;
    --violete: #823ebf;
    --orange: #eab060;
    font-family: "Roboto", serif;;
}
body {
    overflow-x: hidden;
}
main {
    max-width: 1100px;
    width: 80%;
    margin: 50px auto;
    line-height: 1.8em;
}
.red {
    color: var(--red);
}
.dark-blue {
    color: var(--dark-blue);
}
.center {
    text-align: center;
}
.main-header {
    background-color: var(--light-beige);
    font-family: "Montserrat", sans-serif;
    color: var(--dark-blue);
    height: 100vh;
}
.logo {
    margin-left: 50px;
    font-family: "Roboto", serif;
    font-size: 25px;
    font-weight: 800;
    padding: 20px 50px 20px 50px;
    display: flex;
    justify-content: space-between;
}
.logo span {
    font-weight: 300;
}
i.fa-solid.fa-chevron-left,
i.fa-solid.fa-chevron-right {
    font-size: 50px;
}
.flex-container {
    width: 100%;
    height: 100vh;
    display: flex;
}
.main-header  {
    width: 100%;
    overflow: hidden;
}
.main-title {
    font-size: 6em;
    position: absolute;
    left: 10%;
    top: 30%;
    text-transform: uppercase;
    font-weight: 200;
    line-height: 1.2em;
}
.main-img {
    width: 80%;
    margin: 0 10%;
    position: relative;
    overflow: hidden;
}
.chevrons-left {
    font-size: 2em;
    margin-left: 100px;
    position: absolute;
    bottom: 20px;
}
/* NAVIGATION */
.menu {
    width: 120px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 0 20px;
    font-family: "M PLUS Code Latin", serif;
    font-weight: 300;
}
.menu_item {
    font-size: 20px;
    line-height: 23px;
    color: var(--red);
    position: relative;
    height: 120px;
    align-items: center;
    display: flex;
    /* flex-direction: column;*/
    white-space: nowrap;
}
.menu_item a {
  transform: rotate(-90deg);
  text-decoration: none;
  color: var(--red);
}
section {
    padding: 50px 0;
}
.section-dark-blue {
    background-color: var(--dark-blue);
    color: var(--white);
    z-index: 1;
}
.section-dark-blue h2 {
    color: var(--red);
}
.section-dark-blue p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 200;
}
/* PROJECTS */
.projects-container {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    color: var(--dark-blue);
    column-gap: 20px;
    row-gap: 20px;
}
.project {
    object-fit: cover;
    object-position: center;
}
.project a {
    display: block;
}
.project img {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 410 / 220;
    -webkit-box-shadow: 5px 8px 12px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 8px 21px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 8px 12px 0px rgba(0,0,0,0.3);
}
.project a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--black);
}
.projects-project-name {
    margin-bottom: 20px;
    color: var(--dark-blue);
}
/* SKILLS */
.skills {
    display: grid;
    /* grid-template-columns: repeat(6, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    column-gap: 50px;
    color: var(--dark-blue);
}
.skill {
    width: 100px;
}
.skill img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}
.skill h2 {
    text-align: center;
    font-size: 20px;
}
.section-title {
    font-size: 4em;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 200;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 80px;
}
.angles-section {
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 10px auto;
    background-color: var(--white);
    padding: 30px;
}
.angles-section:before,
.angles-section:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: var(--red);
  z-index: -1;
}
.angles-section:before {
  bottom: -15px;
  left: -15px;
}
.angles-section:after {
  top: -15px;
  right: -15px;
}
#about p {
    line-height: 30px;
    margin: 20px 50px;
}
footer {
    background-color: var(--light-beige);
    color: var(--dark-blue);
    font-size: 1em;
    font-weight: 200;
    padding: 150px 200px;
    text-align: center;
}
.some {
    display: flex;
    gap: 3em;
    font-size: 2em;
    margin-bottom: 40px;
    justify-content: center;
}
.some a {
    color: var(--dark-blue)
}
.some a:hover {
    color: var(--red);
}
/* PROJECT PAGE */
.container {
    max-width: 1100px;
    width: 100%;
    margin: 50px auto;
    line-height: 1.8em;
}
.project-container {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}
.logo-link {
    color: var(--dark-blue);
    text-decoration: none;
    transition: color 0.3s ease;
}
.logo-link:hover {
    color: var(--orange);
}
img.img {
    width: 300px;
    margin: 20px 0;
    box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.75);
}
.inner-header {
    background-image: url("/images/main-img-inner.jpg");
    background-size: cover;
    background-position: center;
    background-color: var(--light-beige);
    font-family: "Montserrat", sans-serif;
    color: var(--dark-blue);
    height: 35vh;
}
.inner-title {
    font-size: 3em;
    position: absolute;
    margin: 100px 0 0 150px;
    text-transform: uppercase;
    font-weight: 200;
    line-height: 1.2em;
    font-family: "Montserrat", sans-serif;
}
.project-name {
    font-size: 2.5em;
    margin: 30px 0;
    text-transform: uppercase;
    font-weight: 200;
    line-height: 1.2em;
    color: var(--dark-blue);
    font-family: "Montserrat", sans-serif;
}
.small-title {
    font-size: 1.2em;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.2em;
    color: var(--red);
    font-family: "Montserrat", sans-serif;
}
.left {
    margin: 0 0 0 50px;
}
.project-link:link,
.project-link:visited,
.project-link:active {
    color: var(--red);
    text-decoration: none;
    transition: color 0.3s ease;
}
.project-link:hover {
    color: var(--violete);
}

.project-screenshots {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0 30px;
}

.project-screenshot {
    max-width: 600px;
    width: auto;
    height: auto;
    display: block;

    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.project-screenshots.mobile {
    flex-direction: row;
    flex-wrap: wrap;
}
.project-screenshots.mobile .project-screenshot {
    max-width: 220px;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
    .section-title {
        margin-bottom: 50px;
    }
    .inner-title {
        margin: 50px 0 0 50px;
    }
   .project-container {
        flex-direction: column;
   }
   .container {
        width: 60%;
        margin: 50px auto;
   }
   .project-screenshots {
        margin: 30px auto;
   }
   .project-screenshot {
        width: 100%;
    }
}
@media (max-width: 785px) {
    .project-screenshots.mobile {
        flex-direction: column;
    }
}
@media (max-width: 720px) {
    .main-title {
        position:inherit;
        font-size: 3.5rem;
        margin-top: 5vh;
    }
    .main-img-wrap {
        height: 40vh;
    }
    .main-img {
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }
    section {
        padding: 50px 20px;
    }
    .section-title {
        font-size: 3em;
    }
    .logo {
        padding-left: 0;
        padding-right: 50px;
    }
    i.fa-solid.fa-chevron-left,
    i.fa-solid.fa-chevron-right {
    font-size: 30px;
}
    .chevrons-left {
        margin-left: 50px;
    }
    .angles-section {
        padding: 0;
    }
    .skill {
        width: 75px;
    }
    footer {
        padding: 150px 50px;
    }
    .some {
        gap: 30px;
    }
    .inner-title {
        margin: 20px 0 0 50px;
    }
    .container {
        width: 80%;
 }
}
@media (max-width: 440px) {
    .main-title {
        font-size: 3em;
    }
}
@media (max-width: 480px) {
    .section-title {
        font-size: 2.5em;
    }
    .container {
        width: 90%;
        margin: 30px auto;
   }
}
@media (max-width: 380px) {
    .logo {
        font-size: 20px;
        padding-right: 30px;
    }
    .main-title {
        font-size: 2.3rem;
        margin-top: 10vh;
    }
    .logo {
        padding-left: 0;
    }
    .chevrons-left {
        margin-left: 30px;
    }
    .angles-section {
        padding: 0;
    }    
}